In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
csv_file = "reduced_realty_df.csv"
realty_df = pd.read_csv(csv_file)
realty_df.head()

     status     price           city        state sold_date  house_size
0  for_sale  105000.0       Adjuntas  Puerto Rico  Not Sold       920.0
1  for_sale   80000.0       Adjuntas  Puerto Rico  Not Sold      1527.0
2  for_sale   67000.0     Juana Diaz  Puerto Rico  Not Sold       748.0
3  for_sale  145000.0          Ponce  Puerto Rico  Not Sold      1800.0
4  for_sale  179000.0  San Sebastian  Puerto Rico  Not Sold      2520.0