In [2]:
import pandas as pd
import requests

In [3]:
#TODO import CSVs
# http://api.glassdoor.com/api/api.htm?v=1&format=json&t.p=120&t.k=fz6JLNDfgVs&action=employers&q=pharmaceuticals&userip=192.168.43.42&useragent=Mozilla/%2F4.0
housing = pd.read_csv('realtor-data.csv')
housing

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
203121,for_sale,1995000.0,1.0,1.0,0.05,"1 Lowell Pl, Nantucket, MA, 02554",1 Lowell Pl,Nantucket,Massachusetts,2554.0,700.0,NaN
203122,for_sale,3495000.0,6.0,5.0,1.22,"35 Pine Crest Dr, Nantucket, MA, 02554",35 Pine Crest Dr,Nantucket,Massachusetts,2554.0,5302.0,1992-07-22
203123,for_sale,2400000.0,NaN,1.0,0.08,"584 Main St, Chatham, MA, 02633",584 Main St,Chatham,Massachusetts,2633.0,2328.0,NaN
203124,for_sale,2999000.0,3.0,4.0,0.36,"35 Whistler Ln, Chatham, MA, 02633",35 Whistler Ln,Chatham,Massachusetts,2633.0,2314.0,NaN
203125,for_sale,7800000.0,4.0,4.0,0.91,"500 Shore Rd, Chatham, MA, 02633",500 Shore Rd,Chatham,Massachusetts,2633.0,3563.0,NaN

In [ ]:
#TODO View Tables

In [ ]:
#TODO Merge Tables
    # Table 1 Jobs: Job Title, Location, Salary (Range), (Unemployment)
    # Table 2 Housing: Housing Price, Location, Rooms, Acreage, Sq Ft-age

In [ ]:
#TODO Import into PGAdmin4